/* You can add global styles to this file, and also import other style files */

body {
  font-family: Arial, sans-serif;
}

#popup {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  max-width: 35%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: rgba(255, 255, 255, 0.8);
}

/*Стили аккордиона*/
.ui-state-default {
  border: 1px solid #003eff;
  background: #007fff;
  font-weight: normal;
  color: #fff;
}

.ui-icon {
  width: 20px;
  height: 20px;
  right: 2em;
  top: 2em;
  position: absolute;
}

.ui-accordion .ui-accordion-header {
  margin-top: 16px;
  padding: 26px 110px 25px 23px;
}

.ui-accordion .ui-accordion-content {
  border: 0;
  padding: 16px 20px 0 25px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
  border-radius: 10px;
}

.ui-state-focus .ui-icon {
  background-image: url('/assets/images/down.png');
}

.ui-state-hover .ui-icon {
  background-image: url('/assets/images/down.png');
}

.ui-state-active .ui-icon, .ui-button:active .ui-icon {
  background-image: url('/assets/images/up.png');
}

.ui-icon, .ui-widget-content .ui-icon {
  background-image: url('/assets/images/down.png');
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
